<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0">
    <title>Earthquake Map</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <style>
        .leaflet-tooltip {
            border-radius: 7px;
        }
    </style>
    <div id="map" style="height: 600px;"></div>
    <script>
        var map = L.map('map').setView([0, 0], 2);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        // create cluster group
        var markers = L.markerClusterGroup();

        // define rules for circle sizes
        var circleSizeRules = [
            { threshold: 2.5, radius: 500 },
            { threshold: 5.4, radius: 1000 },
            { threshold: 6, radius: 1500 },
            { threshold: 6.9, radius: 2000 },
            { threshold: 7.9, radius: 2500 },
            { threshold: 8, radius: 3500 },
            { threshold: 10, radius: 5000 },
        ];

        fetch('/earthquakes')
            .then(response => response.json())
            .then(data => {
                data.forEach(earthquake => {
                    var circleSizeRule = circleSizeRules.find(function (rule) {
                        return earthquake.properties.mag <= rule.threshold;
                    });
                    const circle = L.circle([earthquake.geometry.coordinates[1], earthquake.geometry.coordinates[0]], {
                        color: 'red',  // Circle border color
                        fillColor: 'red',  // Circle fill color
                        fillOpacity: 0.5,  // Circle fill opacity
                        weight: 0.5, // Circle stroke width
                        radius: circleSizeRule.radius,
                    });
    
                    circle.bindTooltip(`<strong>Magnitude:</strong> ${earthquake.properties.mag}<br><strong>Location:</strong> ${earthquake.properties.place}`);

                    markers.addLayer(circle)
            });
            map.addLayer(markers)
        }); 

    </script>
</body>
</html>
